<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Task Management System</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        
      </ul>
    </nav>
  </header>

  <main>
    <h2>Welcome to the Task Management System</h2>
    
    <button id="go-to-task-view" onclick="window.location.href='/task_view';">Go to Task View</button>
    <button id="go-to-view-users" onclick="window.location.href='/view_users';">View Users</button> <!-- Added button to navigate to view_users.html -->
  </main>

  <footer>
    <p>&copy; 2024 Task Management System</p>
  </footer>

  <script src="/js/index.js"></script>
</body>
</html>
